.venv
.env
__pycache__
woo_mcp/
main_bypass.py
phi3/
vector_db/
vertex_service_account.json
*.json
!package.json
.DS_Store
working/app_gemini.log
imp.txt
main_phi3.py
orchestrator_phi3.py
start-phi3.sh
endpoints/agent_api_phi3.py